### Procesamiento de Palabras

1. Diferenciar preguntas de afirmaciones (relacionar con el target)
2. Tweet “inutiles” (tweets sin palabras ingles, cosas raras)
3. Agregar una columna que mide el porcentaje de inglés usado en el tweet  y ver con eso  cuántos son en inglés ( tweets que superan cierto threshold de inglés)

In [1]:
#IMPORTS

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import sys,os
%run datuslib.ipynb

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

ERROR:root:File `'datuslib.ipynb.py'` not found.

In [2]:
sns.set(rc = {'figure.figsize':(15,5)})
sns.set(font_scale = 1.7)

In [3]:
# 1. Diferenciar preguntas de afirmaciones (relacionar con el target)

# ANALISIS BASICO (Validez = 1 palabra en ingles)

''' ¿Que constituye una pregunta? Un tweet que tenga al menos 1 palabra en ingles antes de un signo de pregunta.'''
''' ¿Que constituye una afirmacion? Un tweet que tenga al menos 1 palabra en ingles.'''

In [42]:
df = pd.read_csv(generateAbsolutePath("train.csv"))
df.text.isnull().sum() #no hay textos vacios

0

In [55]:
df['textosValidos'] = df.text.apply(hasEnglishWord) 
df

,id,keyword,location,text,target,textosValidos
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,True
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,True
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,True
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,True
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,True
...,...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,True
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,True
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,True
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1,True
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,True

In [58]:
df['esPregunta'] = df.text.apply(isQuestion)

In [61]:
df['Afirmaciones'] = df.esPregunta * df.textosValidos #los que soon validos y no son preguntas, son afirmaciones
df

,id,keyword,location,text,target,textosValidos,esPregunta,Afirmaciones
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,True,False,False
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,True,False,False
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,True,False,False
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,True,False,False
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,True,False,False
...,...,...,...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,True,False,False
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,True,False,False
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,True,True,True
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1,True,False,False
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,True,False,False

In [83]:
df['preguntasConDesastre'] = df.esPregunta * df.target * df.textosValidos
df['preguntasSinDesastre'] = df.esPregunta * (df.target.apply(lambda x: 1 if x == 0 else 0)) * df.textosValidos
df['preguntasSinDesastre'].sum()

728

998